In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [5]:
df.sample(10)       # it gives any 10 random rows

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4250,2019-03-24 19:01:05,2019-03-24 19:05:45,5,0.72,5.0,1.66,0.0,9.96,yellow,credit card,Greenwich Village North,East Village,Manhattan,Manhattan
2007,2019-03-26 15:04:49,2019-03-26 15:10:09,2,0.76,5.0,0.00,0.0,8.30,yellow,cash,Midtown North,Times Sq/Theatre District,Manhattan,Manhattan
2219,2019-03-05 16:49:26,2019-03-05 16:54:43,2,0.55,5.0,1.20,0.0,10.50,yellow,credit card,Midtown East,Midtown Center,Manhattan,Manhattan
4674,2019-03-26 12:01:38,2019-03-26 12:06:14,1,0.56,5.0,0.00,0.0,8.30,yellow,cash,Midtown North,Midtown Center,Manhattan,Manhattan
732,2019-03-29 17:07:27,2019-03-29 17:20:41,2,1.30,9.5,2.75,0.0,16.55,yellow,credit card,Midtown Center,Clinton East,Manhattan,Manhattan
5233,2019-03-21 12:45:58,2019-03-21 12:56:04,1,0.89,7.5,2.16,0.0,12.96,yellow,credit card,Upper East Side North,Upper East Side South,Manhattan,Manhattan
582,2019-03-15 09:40:55,2019-03-15 10:07:14,1,1.86,16.0,1.25,0.0,20.55,yellow,credit card,Flatiron,Midtown Center,Manhattan,Manhattan
5060,2019-03-24 13:54:44,2019-03-24 14:00:39,1,0.58,5.0,0.00,0.0,8.30,yellow,cash,Upper East Side South,Upper East Side South,Manhattan,Manhattan
2757,2019-03-14 17:46:58,2019-03-14 17:57:10,2,1.41,8.5,3.20,0.0,16.00,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
5914,2019-03-08 16:39:29,2019-03-08 16:58:24,1,0.93,9.5,2.00,0.0,13.30,green,credit card,Fordham South,Kingsbridge Heights,Bronx,Bronx

In [6]:
 df.head(6) # it gives from first

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan

In [7]:
df.tail(9)       # it gives from last

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6424,2019-03-30 20:52:15,2019-03-30 20:59:55,1,1.70,8.00,0.00,0.0,9.30,green,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6425,2019-03-07 15:34:30,2019-03-07 16:31:06,1,9.12,26.32,0.00,0.0,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.50,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.00,0.00,0.0,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.50,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.00,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.00,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.00,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.00,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [10]:
df['color'].isnull() # it will check whether  the position is empty or not
                     # if it is null it shows true otherwise false

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: color, Length: 6433, dtype: bool

In [11]:
df['color'].isnull().sum() # it will add the missing values

0

In [12]:
df['payment'].isnull().sum()

44

In [13]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [14]:
(44/6433)*100

0.6839732628633608

In [17]:
(df.isnull().sum()/6433)*100    # to get percentage of the values

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [18]:
df.shape[0] # it gives row count

6433

In [19]:
df.shape[1] # null count

14

In [20]:
(df.isnull().sum()/df.shape[0])*100

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

# missing data handling
# 1) Imputation (fill in tne blanks)
         i) statistical measures
         ii) parameter domain
# 2) delete data
      rows
      columns

In [21]:
df.drop('pickup_zone',axis=1) # it will delete temporarily

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Windsor Terrace,Brooklyn,Brooklyn

In [29]:
df.drop('pickup',axis=1,inplace=True) # it inplace=True makes permanent delete

In [30]:
df

,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Manhattan,Manhattan
3,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Windsor Terrace,Brooklyn,Brooklyn

In [31]:
df.columns

Index(['dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls', 'total',
       'color', 'payment', 'dropoff_zone', 'pickup_borough',
       'dropoff_borough'],
      dtype='object')

In [34]:
df.drop(['distance','fare'],axis=1,inplace=True)

In [35]:
df

,dropoff,passengers,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 18:00:25,1,2.36,0.0,14.16,yellow,credit card,West Village,Manhattan,Manhattan
3,2019-03-10 01:49:51,1,6.15,0.0,36.95,yellow,credit card,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:37:14,3,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:55:27,1,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 18:34:23,1,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 23:14:25,1,0.00,0.0,17.30,green,cash,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:14:29,1,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:48:02,1,3.36,0.0,20.16,green,credit card,Windsor Terrace,Brooklyn,Brooklyn

In [37]:
df.columns

Index(['dropoff', 'passengers', 'tip', 'tolls', 'total', 'color', 'payment',
       'dropoff_zone', 'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [36]:
df.drop([2,3,6430,6432],axis=0,inplace=True)
df                                                 # delete rows

,dropoff,passengers,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
4,2019-03-30 13:37:14,3,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
5,2019-03-11 10:47:31,1,2.16,0.0,12.96,yellow,credit card,Midtown East,Manhattan,Manhattan
6,2019-03-26 21:17:29,1,2.00,0.0,18.80,yellow,credit card,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...
6426,2019-03-28 08:07:46,1,0.50,0.0,5.80,green,credit card,Upper West Side North,Manhattan,Manhattan
6427,2019-03-23 18:49:12,1,0.00,0.0,20.00,green,cash,East Harlem South,Bronx,Manhattan
6428,2019-03-31 09:55:27,1,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 18:34:23,1,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6431,2019-03-04 10:14:29,1,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [41]:
df.reset_index() # it will generate new index

,index,dropoff,passengers,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,0,2019-03-23 20:27:24,1,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,1,2019-03-04 16:19:00,1,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,4,2019-03-30 13:37:14,3,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
3,5,2019-03-11 10:47:31,1,2.16,0.0,12.96,yellow,credit card,Midtown East,Manhattan,Manhattan
4,6,2019-03-26 21:17:29,1,2.00,0.0,18.80,yellow,credit card,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6424,6426,2019-03-28 08:07:46,1,0.50,0.0,5.80,green,credit card,Upper West Side North,Manhattan,Manhattan
6425,6427,2019-03-23 18:49:12,1,0.00,0.0,20.00,green,cash,East Harlem South,Bronx,Manhattan
6426,6428,2019-03-31 09:55:27,1,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6427,6429,2019-03-31 18:34:23,1,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6428,6431,2019-03-04 10:14:29,1,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [42]:
df.reset_index(drop=True) # it will reset the index number temporarily
                          # --it is mandatory to apply reset_index after deleting rows from dataframe-- #

,dropoff,passengers,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-30 13:37:14,3,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
3,2019-03-11 10:47:31,1,2.16,0.0,12.96,yellow,credit card,Midtown East,Manhattan,Manhattan
4,2019-03-26 21:17:29,1,2.00,0.0,18.80,yellow,credit card,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...
6424,2019-03-28 08:07:46,1,0.50,0.0,5.80,green,credit card,Upper West Side North,Manhattan,Manhattan
6425,2019-03-23 18:49:12,1,0.00,0.0,20.00,green,cash,East Harlem South,Bronx,Manhattan
6426,2019-03-31 09:55:27,1,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6427,2019-03-31 18:34:23,1,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6428,2019-03-04 10:14:29,1,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [43]:
df.reset_index(drop=True,inplace=True)          # it change permanently
df

,dropoff,passengers,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:27:24,1,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:19:00,1,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-30 13:37:14,3,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
3,2019-03-11 10:47:31,1,2.16,0.0,12.96,yellow,credit card,Midtown East,Manhattan,Manhattan
4,2019-03-26 21:17:29,1,2.00,0.0,18.80,yellow,credit card,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...
6424,2019-03-28 08:07:46,1,0.50,0.0,5.80,green,credit card,Upper West Side North,Manhattan,Manhattan
6425,2019-03-23 18:49:12,1,0.00,0.0,20.00,green,cash,East Harlem South,Bronx,Manhattan
6426,2019-03-31 09:55:27,1,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6427,2019-03-31 18:34:23,1,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6428,2019-03-04 10:14:29,1,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [44]:
df=sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [46]:
df['color']=='yellow'

0        True
1        True
2        True
3        True
4        True
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: color, Length: 6433, dtype: bool

In [45]:
df[df['color']=='yellow']

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446,2019-03-11 21:19:42,2019-03-11 21:29:23,1,2.09,9.5,2.66,0.0,15.96,yellow,credit card,Battery Park City,Financial District North,Manhattan,Manhattan
5447,2019-03-20 18:09:46,2019-03-20 18:16:52,1,1.52,7.5,2.36,0.0,14.16,yellow,credit card,Upper West Side South,Upper East Side North,Manhattan,Manhattan
5448,2019-03-09 11:08:09,2019-03-09 11:18:03,1,2.05,9.5,2.56,0.0,15.36,yellow,credit card,Lenox Hill West,Upper West Side South,Manhattan,Manhattan
5449,2019-03-22 18:12:50,2019-03-22 18:22:05,1,1.07,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Penn Station/Madison Sq West,Manhattan,Manhattan
5450,2019-03-07 18:02:33,2019-03-07 18:13:32,1,1.80,9.0,1.33,0.0,14.63,yellow,credit card,Lincoln Square East,Upper West Side North,Manhattan,Manhattan

In [49]:
total_15=df[df['total']>15]
total_15

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.00,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.00,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
8,2019-03-23 11:48:50,2019-03-23 12:06:14,1,3.63,15.00,1.00,0.0,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.00,0.00,0.0,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens
15,2019-03-16 17:53:34,2019-03-16 18:13:57,3,2.09,13.50,0.00,0.0,16.80,yellow,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,2019-03-07 15:34:30,2019-03-07 16:31:06,1,9.12,26.32,0.00,0.0,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.00,0.00,0.0,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.00,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.00,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.00,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [51]:
total_15.shape

(2897, 14)

In [52]:
df[(df['payment']=='cash') & (df['total']>20)]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
37,2019-03-21 18:41:58,2019-03-21 19:15:25,1,3.13,20.5,0.0,0.00,24.80,yellow,cash,Lenox Hill East,Garment District,Manhattan,Manhattan
41,2019-03-24 18:42:56,2019-03-24 19:09:00,0,4.50,20.0,0.0,0.00,23.30,yellow,cash,TriBeCa/Civic Center,Kips Bay,Manhattan,Manhattan
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.0,0.0,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan
46,2019-03-20 11:40:59,2019-03-20 12:06:41,2,4.70,20.0,0.0,0.00,23.30,yellow,cash,Times Sq/Theatre District,Battery Park City,Manhattan,Manhattan
49,2019-03-04 21:35:00,2019-03-04 21:53:42,1,4.87,17.5,0.0,0.00,21.30,yellow,cash,West Village,Upper West Side South,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,2019-03-02 17:48:01,2019-03-02 18:10:44,1,8.97,26.0,0.0,0.00,26.80,green,cash,Hamilton Heights,Bronxdale,Manhattan,Bronx
6314,2019-03-28 22:36:04,2019-03-28 22:36:07,1,0.00,25.0,0.0,0.00,25.00,green,cash,Jamaica,NaN,Queens,NaN
6331,2019-03-23 11:27:00,2019-03-23 12:20:11,1,7.67,28.0,0.0,0.00,28.00,green,cash,Jackson Heights,Maspeth,Queens,Queens
6343,2019-03-16 23:17:37,2019-03-16 23:48:27,1,6.39,24.0,0.0,0.00,25.30,green,cash,Downtown Brooklyn/MetroTech,Canarsie,Brooklyn,Brooklyn
6408,2019-03-04 07:27:58,2019-03-04 07:49:25,1,6.48,22.0,0.0,0.00,25.55,green,cash,East Harlem North,Clinton East,Manhattan,Manhattan

In [53]:
df[(df['payment']=='cash') | (df['total']>20)]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.00,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.00,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.00,0.00,0.0,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens
13,2019-03-19 07:55:25,2019-03-19 08:09:17,1,1.75,10.50,0.00,0.0,13.80,yellow,cash,Lincoln Square West,Times Sq/Theatre District,Manhattan,Manhattan
14,2019-03-27 12:13:34,2019-03-27 12:25:48,0,2.90,11.50,0.00,0.0,14.80,yellow,cash,Financial District North,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,2019-03-07 15:34:30,2019-03-07 16:31:06,1,9.12,26.32,0.00,0.0,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.00,0.00,0.0,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.00,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.00,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.00,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn